body {
  height: 100%;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.converter-form {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.converter-input,
.converter-output {
  font-size: 18px;
  text-align: center;
}

.converter-input {
  height: 40px;

  border: 1px solid #000000;

  letter-spacing: 0.1rem;
}

.converter-input:focus {
  border-color: transparent;
  outline: 1px solid rgb(129,183,242);
}

.converter-output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 5px;

  color: #ffffff;
  background-color: #eeeeee;

  filter: brightness(50%);
}

.converter-output-text {
  filter: invert(100%) brightness(500%);
}